# Assignments

In [ ]:
x = 3       # Assigning a value 3 to a variable x 
print (x)   # print () ===== print the value saved in x

In [ ]:
print x

# SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)?

In [ ]:
x = 5       # Assigning a value 3 to a variable x 
print (x)   # print () ===== print the value saved in x

# always consider latest assignment

# Naming Rules

In [ ]:
credit_score = 98
print(credit_score)

In [ ]:
credit.score = 89
print (credit.score)

In [ ]:
creditscore = 98
print (creditscore)

In [ ]:
creditscore89 = 98
print (creditscore89)

In [ ]:
89creditscore = 98
print (89creditscore)

In [ ]:
credit score = 98
print (credit score)

In [ ]:
a = 10
print (A)

# NameError: name 'A' is not defined

In [ ]:
_a = 10
print (_a)

***Rules for Python variables names:***

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age, AGE, aGe, AgE etc are three different variables)
- long names
- Cannot have a space and period (.)

# Type of Variables

## Variables 

- Variables are containers for storing data values. A variable is created the moment you first assign a value to it.

Data types built-in

Text Type:      str
Boolean Type:   bool
Numeric Types:  int, float

In [ ]:
# Integer

x = 10
print (x)

type(x)

In [ ]:
# Float

y = 10.98
print (y)

type(y)

In [ ]:
# String

z = "jupyter" # character value will always be in qoutes - single or double
print (z)

type(z)

In [ ]:
# String

z = 'python' # character value will always be in qoutes - single or double
print (z)

type(z)

In [ ]:
# Boolean

b = True
print (b)

type(b)

## Basic Data Types: String

In [ ]:
print ("Hello World")
print ('Welcome to Python')

# qoutes can be double or single

In [ ]:
# hello   world
# o/p to be seperated by a tab = 8 spaces

print ("Hello World")
print ()                  # blank print
print ("Hello \tWorld")   # prints with a tab between hello and world

# \t
# backslash \ - above the enter

In [ ]:
# hello   world
# o/p to be seperated by a tab = 8 spaces

print ("Hello World")
print ()                  # blank print
print ("\tHello World")   # prints with a tab between hello and world

# \t
# backslash \ - above the enter

In [ ]:
# hello
# world

print ("Hello \nWorld")   # split hello and world in two lines

# \n - enter

# InClass Practice

## 1.

Print the poem below in the provided format

## hint :: You should work with \n, \t

Twinkle, twinkle, little star,
    How I wonder what you are! 
        Up above the world so high,
        Like a diamond in the sky. 
Twinkle, twinkle, little star, 
    How I wonder what you are!

In [ ]:
print ("Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are!")

In [ ]:
print ("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

In [ ]:
myage = 30           # int
myeyes = "green"     # str

In [ ]:
myage + myeyes

In [ ]:
print (myage)
print (type(myage))
print (str(myage))            # typecasting - converting an int to str
print (type(str(myage)))

In [ ]:
str(myage) + myeyes # adding two string variables

In [ ]:
int(myeyes)

# ValueError: invalid literal for int() with base 10: 'green'

In [ ]:
myage + int(myeyes)

**Text cannot be converted to integer that doesnt mean a string cannot be converted to int/numeric**

In [ ]:
a = '8796'
print (a)
type (a)

In [ ]:
# String to Int conversion is possible ; if the str is of a number
print (type(a))
b = int(a)
print (b)
type (b)

In [ ]:
a = "Sonal"
b = int(a)  # typecasting
print (b)
type(b)

# Print Command

In [ ]:
y = 2.1
y
z = 3.5
print z

# SyntaxError: Missing parentheses in call to 'print'. Did you mean print(z)?

In [ ]:
y = 2.1
y           # without the print command anything in middle of the code will not be printed
z = 3.5
print (z)

In [ ]:
y = 2.1
y           # without the print command anything in middle of the code will not be printed
z = 3.5
z

In [ ]:
y = 2.1
print (y)
z = 3.5
z

In [ ]:
"hello everyone!!!"

In [ ]:
40

### Operations and Functions - String Variables

In [ ]:
message = 'Hello world'
print (message)

In [ ]:
# Concatenating

message1 = "hello" + "world"
print (message1)

In [ ]:
# Repetition

message2a = 'hello ' * 3
message2b = "world"

print (message2a + message2b)

In [ ]:
str1 = 'Applied Data Science with Python'
print (str1)

In [ ]:
# the length of str1
len(str1)

In [ ]:
# converts all characters in string to Uppercase
str1.upper()

In [ ]:
# converts all characters in string to lowercase
str1.lower()

In [ ]:
# Capitalize() - capitalizes the first letter of the string
str1.capitalize()

In [ ]:
#  title() - capitalize the first letter of each word in a string
str1.title()

**replace**

- The replace() method replaces a specified phrase with another specified phrase.

In [ ]:
message8 = "Hello World"
message8a = message8.replace('l', " pizza ")
print (message8a)

In [ ]:
message8 = "Hello World"
message8a = message8.replace('z', " pizza ")
print (message8a)

**Find**

- Index of the element :: An index refers to a position within a value. Python strings have characters; each character is given an index from zero (at the beginning) to the length minus one (at the end)

- The find() method finds the first occurrence of the specified value.

- The find() method returns -1 if the value is not found.

In [ ]:
message5 = "Hello World"
message5a = message5.find('H')    # index of the element
print (message5a)

# 0 1 2 3 4 5 6 7 8 9 10
# H e l l o   W o r l d

# In python the index starts from 0

In [ ]:
message5 = "Hello World"
message5a = message5.find('W')     # index of the element
print (message5a)

In [ ]:
message5 = "Hello World"
message5a = message5.find('o') # index of the element
print (message5a)

# The find() method finds the first occurrence of the specified value

In [ ]:
message5 = "Hello World"
message5a = message5.find('z') # index of the element
print (message5a)

# The find() method returns -1 if the value is not found.

In [ ]:
message5 = "Hello World"
message5a = message5.find('L')     # index of the element
print (message5a)

## Accessing Elements from String

In [ ]:
message9 = 'Hello World'
message9[8]                 # accessing the element at index 8

# 0 1 2 3 4 5 6 7 8 9 10
# H e l l o   W o r l d

In [ ]:
message9 = 'Hello World'
message9[10]

In [ ]:
message9 = 'Hello World'
message9[15]

# IndexError: string index out of range

### Slicing the Elements from String

In [ ]:
message9 = 'Hello World'
message9a = message9[1:8]      # [inclusive : exclusive] or [Start : Stop] = [Start : Stop - 1]
print (message9a)

# 0 1 2 3 4 5 6 7 8 9 10
# H e l l o   W o r l d

In [ ]:
message9[2:9]

In [ ]:
message9 ='Hello World'
print (message9[6:])        # 6 to end

In [ ]:
message9 = 'Hello World'
print (message9[:6])         # [Start : Stop] = [Start : Stop - 1]

## Postive and Negative Indices in Python

In [ ]:
# positive indices start from 0  - left to right
Str1 = 'SUPER'

print (Str1[0])
print (Str1[1])
print (Str1[2])
print (Str1[3])
print (Str1[4])

In [ ]:
# negative indices start from -1 - right to left

print (Str1[-5])
print (Str1[-4])
print (Str1[-3])
print (Str1[-2])
print (Str1[-1])

# positive indices start from  0 - left to right - 0 to len(str)-1
# negative indices start from -1 - right to left - -1 to -len(str)

#   S   U   P   E   R
#   0   1   2   3   4    # positive indice
#  -5  -4  -3  -2  -1    # negative indice

# User Input

In [ ]:
# Syntax :: input(prompt)

name = input("what is your name? ")
print ("Welcome ", name)

In [ ]:
age = input("what is your age? ")
print ("Age = ", age)

In [ ]:
type(name)

In [ ]:
type(age)

***Whatever you enter as input, the input function converts it into a string***

In [ ]:
age = int(input("what is your age? "))
print ("Age = ", age)

# InClass Practice

# 2

## Create a string "My First Python Class" and print it

In [ ]:
str1 = "My First Python Class"
print(str1)

## Access the third last character in the string

In [ ]:
str1[-3]

## Update a letter of the string :: s with z

hint - replace()

In [ ]:
str1.replace('s','z')