In [3]:
#First python output
print("welcome to python programming")

welcome to python programming

In [4]:
#Checking the python version
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [5]:
#to display syntax error
print("Hello World!)

SyntaxError: EOL while scanning string literal (3038263431.py, line 2)

In [9]:
#to check the type of 12
type(12)

int

In [10]:
#to check the type of 2.54
type(2.54)

float

In [11]:
#to check the type of Python
type("Python")

str

In [12]:
#to check the type of 12.0
type(12.0)

float

In [14]:
#system settings about float type
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [1]:
#converting int to float and printing the number
x=type(float(2))
y=float(2)
print(x)
print(y)

<class 'float'>
2.0

In [17]:
#converting float to int
int(5.67)

5

In [22]:
#converting string to float
float('7')

7.0

In [23]:
#type of True
type(True)

bool

In [24]:
#type of False
type(False)

bool

In [25]:
#convert True to Int
int(True)

1

In [26]:
#convert False to int
int(False)

0

In [27]:
#convert 1 to boolean
bool(1)

True

In [83]:
#convert 0 to boolean
bool(0)

False

In [3]:
#convert int to string
print(type(str(1)))

<class 'str'>

In [4]:
#convert float to string
print(type(str(2.7)))

<class 'str'>

In [5]:
#convert string to int
print(int("1"))

1

In [6]:
#another example of converting str to int
#this statement throws error as it is trying to convert the characters
print(int('Convert 1 to string'))

ValueError: invalid literal for int() with base 10: 'Convert 1 to string'

In [8]:
#convert string to float
print(type(float('1.89')))

<class 'float'>

In [29]:
#check data type of below result
type(6/2)

float

In [30]:
#integer division operation
type(6//2)

int

In [31]:
#to check how many hours in 160 minutes
160/60

2.6666666666666665

In [32]:
#calculating x
x=3+2*2
x

7

In [33]:
#calculating y
y=(3+2)*2
y

10

In [35]:
#calculating value of z
x=3+2*2
y=(3+2)*2
z=x+y
z

17