In [2]:
#creates a list
List=["Anu",32,1990]
List

['Anu', 32, 1990]

In [4]:
#printing the elements in list using +ve and -ve indexing
print('the same element using negative and positive indexing:\n Postive:',List[0],
'\n Negative:' , List[-3]  )
print('the same element using negative and positive indexing:\n Postive:',List[1],
'\n Negative:' , List[-2]  )
print('the same element using negative and positive indexing:\n Postive:',List[2],
'\n Negative:' , List[-1]  )

the same element using negative and positive indexing:
 Postive: Anu
 Negative: Anu
the same element using negative and positive indexing:
 Postive: 32
 Negative: 32
the same element using negative and positive indexing:
 Postive: 1990
 Negative: 1990

In [8]:
#concatenating the list
newList=["NABA",5]
List=List+newList
List

['Anu', 32, 1990, 'NABA', 5]

In [10]:
#slicing last 3 elements from the list
List[2:5]

[1990, 'NABA', 5]

In [13]:
#extend function adds 2 new elements to the list
L=["Anu",32]
L.extend(["NABA",1990]) 
L

['Anu', 32, 'NABA', 1990]

In [14]:
#append function add one new element as a list 
L=["Anu",32]
L.append(["NABA",1990]) 
L

['Anu', 32, ['NABA', 1990]]

In [1]:
#Changing element based on index as lists are mutable
A=["Mango",3]
print("Before changing A:",A)
A[0]="Strawberry"
print("After Changing A:",A)

Before changing A: ['Mango', 3]
After Changing A: ['Strawberry', 3]

In [2]:
#delete function
print("Before deleting:",A)
del(A[0])
print("After deleting:",A)

Before deleting: ['Strawberry', 3]
After deleting: [3]

In [20]:
"Pizza Bakery".split() #splits the string by default space and returns as a list

['Pizza', 'Bakery']

In [22]:
"A,B,C,D".split(",") #splits the string by commas(delimiter) and returns as a list

['A', 'B', 'C', 'D']

In [4]:
#creating a new list and assigning to another variable to create a copy of it
A=["Apple",1,10.1]
B=A
B

['Apple', 1, 10.1]

In [5]:
#changing the value of element in list A changes the value in list B
print("Before changing:",B)
A[0]="Mango"
print("After changing:",B)

Before changing: ['Apple', 1, 10.1]
After changing: ['Mango', 1, 10.1]

In [6]:
#cloning does not changes the List B as both list A and B pointing to diff memory locations
B=A[:]
print("Before changing:", B)
A[0]="Strawberry"
print("After changing:",B) #list remains unchanged because of cloning
print("Newly changed list of list A:",A)

Before changing: ['Mango', 1, 10.1]
After changing: ['Mango', 1, 10.1]
Newly changed list of list A: ['Strawberry', 1, 10.1]

In [27]:
#accessing the second element in the list using its index
a_List=[1,"hello",[1,2,3],True]
a_List[1]

'hello'

In [28]:
#slicing the index
a_List[1:4]

['hello', [1, 2, 3], True]

In [30]:
#concatenating 2 lists
A1=[1,'a']
A2=[2,1,'d']
A1=A1+A2
A1

[1, 'a', 2, 1, 'd']

In [5]:
l1 = [1,2,3,4,5,6,7,8]
l1[-1:2:2]

SyntaxError: invalid syntax (1232080324.py, line 2)

In [24]:
l1[-4:-1]

[5, 6, 7]

In [26]:
t1=(1,2,3)
t1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
s1={1,2,2}
s1

{1, 2}

In [34]:
import array as arr
a1 = arr.array('i',[1,2,3,4])
a1

array('i', [1, 2, 3, 4])

In [79]:
a1[::-1]

array('i', [4, 3, 2, 1])

In [80]:
a1

array('i', [1, 2, 3, 4])

In [99]:
class employee():
    def __init__ (self,name,age):
        self.name = name
        self.age = age
        
    def printName(self):
        print('Hi',self.name)

e1 = employee('abc',23)
e1.name
e1.age
e1.printName()

Hi abc

In [103]:
a = lambda x,y,z: x + y + z
print(a(2,3,5))

10

In [69]:
x=[i for i in range(5)]

In [70]:
x

[0, 1, 2, 3, 4]

In [77]:
def printName():
    print('hi')
    

printName()

hi

In [87]:
s1='a n u'
s1.split(' ')

['a', 'n', 'u']

In [107]:
def bs(numList):
    b = len(numList)
    for x in range(b-1):
        for y in range(b-x-1):
            if(numList[y] > numList[y+1]):
                numList[y],numList[y+1] = numList[y+1],numList[y]
    print(numList)
 

a = int(input('Enter the range:'))
i = 0
nList =[]
while i<=a:
    num = int(input('Enter the number:'))
    nList.append(num)
    i=i+1
bs(nList)

Enter the range: 3
Enter the number: 6
Enter the number: 1
Enter the number: 0
Enter the number: 9

[0, 1, 6, 9]

In [109]:
n=18
flag = False
if n>1:
    for i in range(2,n):
        if(n%i==0):
            flag=True;
            break;
            
if flag:
    print(n,'is not a prime number')
else:
    print(n,'is a prime number')

18 is not a prime number