In [36]:
#creating a set
set1={"anu","gokul","vikashni","anu","nasa","gokul","rani","akshaya","rishi"}
print(set1)

{'anu', 'nasa', 'rishi', 'vikashni', 'akshaya', 'gokul', 'rani'}

In [2]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set=set(album_list)
print(album_set)
print(type(album_set))

{'Michael Jackson', 'Pop, Rock, R&B', 65, '30-Nov-82', 'Thriller', 10.0, None, 46.0, '00:42:19', 1982}
<class 'set'>

In [5]:
#implements add method
A=set(["Anu",32,1990])
A.add("Female")
A

{1990, 32, 'Anu', 'Female'}

In [6]:
#trying to add duplicates to the set
A.add('Anu')
A

{1990, 32, 'Anu', 'Female'}

In [7]:
#implementing remove method
A.remove('Female')
A

{1990, 32, 'Anu'}

In [8]:
#verify the element present in the set using in func
1990 in A

True

In [4]:
sampleSet1={"Anu",32,1990,"Female"}
sampleSet2={"Anu",21,"May",1990}
sampleSet1, sampleSet2

({1990, 32, 'Anu', 'Female'}, {1990, 21, 'Anu', 'May'})

In [11]:
#Find the intersections
intersection=sampleSet1&sampleSet2
intersection

{1990, 'Anu'}

In [14]:
difference1=sampleSet1.difference(sampleSet2)
print(difference1) #prints elements in sampleSet1 but not available in sampleSet2
difference2=sampleSet2.difference(sampleSet1)
print(difference2) #prints elements in sampleSet2 but not available in sampleSet1

{32, 'Female'}
{'May', 21}

In [15]:
#to find intersection of sampleSet1 and sampleSet2
sampleSet1.intersection(sampleSet2)

{1990, 'Anu'}

In [16]:
#prints union of two sets and removes the duplicates
sampleSet1.union(sampleSet2)

{1990, 21, 32, 'Anu', 'Female', 'May'}

In [22]:
#checks if the given elements present in sampleset1
set({"Female",32}).issubset(sampleSet1)

True

In [6]:
#implements the issuperset func
print(sampleSet1.issuperset({"Male",32}))
print(sampleSet1.issuperset({"Female",32}))

False
True

In [19]:
#checks if sampleset1 is a subset of sampleset2
set(sampleSet1).issubset(sampleSet2)

False

In [24]:
#type casting a list to set
list=['rap','house','electronic music', 'rap'] 
s1=set(list)
s1

{'electronic music', 'house', 'rap'}

In [27]:
#printing the sum of numbers in list and set datatypes
A = [1, 2, 2, 1] 
B = set([1, 2, 2, 1])
print("Sum of A is:", sum(A))
print("Sum of B is:", sum(B))

Sum of A is: 6
Sum of B is: 3

In [29]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [30]:
album_set1.issubset(album_set3)

True