In [1]:
#funtion to add 2 numbers
def add(a,b):
    c=a+b
    print("Addition of",a,"+",b,"is:",c)
    return c

#calling the func add
add(2,3)

Addition of 2 + 3 is: 5

5

In [2]:
#calling the func add
add(10.5,6)

Addition of 10.5 + 6 is: 16.5

16.5

In [3]:
#calling the func add
add(11.5,0.5)

Addition of 11.5 + 0.5 is: 12.0

12.0

In [4]:
#func to multiply 2 numbers
def multiplication(x,y):
    z=x*y
    print("Multiplication of",x,"*",y,"is:",z)
    return z

#calling the function
multiplication(2,'Anu')

Multiplication of 2 * Anu is: AnuAnu

'AnuAnu'

In [5]:
#sending an int and string as input
add(2,'anu')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
multiplication(2,3)

Multiplication of 2 * 3 is: 6

6

In [7]:
def square(a):
    b=1
    c=a*a+b
    print("Square of",a,"+1 is:",c)
    return c

square(6)

Square of 6 +1 is: 37

37

In [8]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

#calling func 
MJ()

Michael Jackson

In [9]:
#calling func
MJ1()

Michael Jackson

In [10]:
print(MJ())

Michael Jackson
None

In [11]:
print(MJ1())

Michael Jackson
None

In [12]:
#func for combining strings
def concat(a,b):
    c=a+b
    return c

concat('hello','world')

'helloworld'

In [13]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

isGoodRating()

this album sucks it's rating is 4

In [14]:
isGoodRating(10)

this album is good its rating is 10

In [15]:
#division function
def div(a,b):
    c=a/b
    print(a,'divided by',b,'is:',c)
    return c

#calling func
div(36,6)

36 divided by 6 is: 6.0

6.0

In [17]:
def con(a1,a2):
    a3=a1+a2
    return a3

con('python','python')

'pythonpython'

In [18]:
con(5,5)

10

In [19]:
con([1,2,3],[1,2,3])

[1, 2, 3, 1, 2, 3]

In [20]:
con((3,4,5),(3,4,5))

(3, 4, 5, 3, 4, 5)

In [21]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [22]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)




# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc